/**
 * VARIABLE OVERRIDES
 * -------------------------------------------------------------------
 */


$font-family-base: Verdana, sans-serif;
$font-family-headings: Verdana, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$brand-primary: #00368a;
$brand-secondary: #130d3a;
$brand-tertiary: #b0d8f4;
$brand-quaternary: #fff155;
$normal: 700;
$header-height: 4rem;
$header-btn-color: $brand-primary;
